<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamza Elasmar | About Me</title>
    <link rel="stylesheet" href="/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h2>Hamza</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><h4>Home</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exp"><h4>Expirences</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href="/abtme"><h4>About Me</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><h4>Contact</h4></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p>
  Hello. My Name Is <span class="BIG"><a href="https://en.wikipedia.org/wiki/Hamza_(name)" class="green">Hamza</a></span>, I Am A Person That Likes Programming And MC Servers
  A Person Who Likes Hanging out with family, From <span class="BIG"><a href="https://en.wikipedia.org/wiki/Egypt" class="green">Egypt</a></span> Excactly From <span class="BIG"><a href="https://en.wikipedia.org/wiki/Sharqia_Governorate" class="green">Sharqiya</a></span>.
  Plays On Cracked Minecraft And Loves To Help People!
</p>

<p class="wh">
  I think I will be a great add-on to the server I will apply to.
  I am very good at managment and working in a team.
  I respect all the nationalites and wouldnt deny a chance because of it.
  I respect all higher ranks specially the owners and wont deny any request from them.
  Not A Very "argue" guy and I dont like to talk a lot.
</p>

</body>
</html>