body{
    background: url(bg.svg);
}

.BIG{
    font-size: 50px;
}

p{
    color: #fff;
    font-size: 40px;
}

.green{
    color: #46b370;
    transition: color 0.5s;
    text-decoration: none;
}

.green:hover{
    color: #338050;
}

.title{
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);   
    font-size: 70px;
    width: 90%;
    color: #fff;
    text-align: center;
}

.em{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);   
    font-size: 40px;
    width: 90%;
    color: #fff;
    text-align: center; 
}