.title{
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);   
    font-size: 70px;
    width: 90%;
    color: #fff;
}

.s1{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);   
    font-size: 40px;
    width: 90%;
    color: #fff;
    text-align: center;
}

.s2{
    position: absolute;
    top: 65%;
    left: 52%;
    transform: translate(-50%, -50%);   
    font-size: 40px;
    width: 90%;
    color: #fff;
    text-align: center;
}

.s3{
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);   
    font-size: 40px;
    width: 90%;
    color: #fff;
    text-align: center;
}